<!-- intro -->
<section data-scroll-section="{{{title}}}" id="{{{title}}}" class="panel {{post_class}} {{{title}}}">
    <h2>{{{title}}}</h2>
    <div class="post-content">
        {{content}}    
    </div>
</section>

          